@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
.main-menu {
    border-bottom: 1px solid #000;
    padding: 15px;
    text-align: center;
}
.main-menu li {
    display: inline;
    padding-right: 20px;
}
.description-detail {
    border: 1px solid #000;
    margin: 100px;
    padding: 15px;
    border-radius: 10px;
    line-height: 1.5;
}
.description-cards {
    text-align: center;
    margin: 100px;
}
.description-card {
    border: 1px solid #000;
    margin: 20px;
    padding: 15px 40px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    width: 200px;
}
.description-card h2 {
    margin-top: 20px;
}
.rules-detail {
    border: 1px solid #000;
    margin: 80px 100px 30px 100px;
    padding: 15px;
    border-radius: 10px;
    line-height: 1.5;
    height: 250px;
    position: relative;
}
.rules-detail h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}
aside {
    padding-left: 40px;
    border-left: 1px solid #000;
    border-spacing: 100px;
    line-height: 1.5;
    margin-left: 100px;
}
table {
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 50px auto;
}
td, th {
    border: 1px solid #000;
    padding: 5px 50px;
    text-align: center;
    width: 100px;
}